#Trash files from aep_dep
aep_dep/gazebo_models/
aep_dep/catkin_ws/build/
aep_dep/catkin_ws/devel/
aep_dep/catkin_ws/logs/
aep_dep/catkin_ws/.catkin_tools/
aep_dep/data
aep_dep/.ros/log
aep_dep/.cache/
aep_dep/.python_history
aep_dep/.bash_history
aep_dep/.config/
aep_dep/.gazebo/client-11345/
aep_dep/.gazebo/ogre.log
aep_dep/.gazebo/server-11345/
aep_dep/.sdformat/
aep_dep/.gazebo/
aep_dep/octomaps

#Trash files from daep
daep/gazebo_models/
daep/catkin_ws/build/
daep/catkin_ws/devel/
daep/catkin_ws/logs/
daep/catkin_ws/.catkin_tools/
daep/data
daep/.ros/log
daep/.cache/
daep/.python_history
daep/.bash_history
daep/.config/
daep/.gazebo/client-11345/
daep/.gazebo/ogre.log
daep/.gazebo/server-11345/
daep/.sdformat/
daep/.gazebo/
daep/octomaps
daep/model_editor_models/

# Trash files from dep
dep/gazebo_models/
dep/catkin_ws/devel/
dep/catkin_ws/build/
dep/.cache/
dep/.config/
dep/.gazebo/
dep/.ros
dep/.bash_history
dep/.python_history
dep/.sdformat/
dep/data
dep/nlopt-2.7.1/
dep/catkin_ws/.catkin_tools/profiles/
dep/tsdf_ws/
dep/catkin_ws/src/.vscode/
dep/octomaps

# Trash files from nbvp_dep
nbvp_dep/gazebo_models/
nbvp_dep/.config/
nbvp_dep/.vscode/
nbvp_dep/.bash_history
nbvp_dep/.gazebo/
nbvp_dep/.ros/
nbvp_dep/.sdformat/
nbvp_dep/catkin_ws/build/
nbvp_dep/catkin_ws/devel/
nbvp_dep/catkin_ws/logs/
nbvp_dep/catkin_ws/.catkin_tools/
nbvp_dep/catkin_ws/src/nbvplanner/.vscode/
nbvp_dep/catkin_ws/src/nbvplanner/nbvplanner/data/
nbvp_dep/data
nbvp_dep/catkin_ws/.catkin_tools/
nbvp_dep/octomaps
nbvp_dep/.cache/

# Trash files from Visualization
experiment_data/
visualization/collision.txt
visualization/coverage.txt
visualization/logfile.txt
visualization/plots/
visualization/.bash_history
visualization/visualized_data/
visualization/experiment_data
visualization/.config/
visualization/.cache/nvidia/

#VSCODE
.vscode/
