<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="world_name" value="$(find drone_gazebo)/worlds/apartment_dynamic.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <!-- Moving objects tries to avoid humans-->
  <arg name="avoidance" default="false" />
  
  <!-- person1 -->
  <node pkg="drone_gazebo" type="field_motion.py" name="motion1" args="'person_walking1' '[(-10, 12), (-8.9, 9.5), (-10, 12)]' $(arg avoidance)" />
  
  <!-- person2 -->
  <node pkg="drone_gazebo" type="field_motion.py" name="motion2" args="'person_walking2' '[(-11, 12.8), (-12.7, 10.6), (-11, 12.8)]' $(arg avoidance)" />
  
  <!-- person3 -->
  <node pkg="drone_gazebo" type="field_motion.py" name="motion3" args="'person_walking3' '[(-10, 10), (-10, 7.8), (-10, 10)]' $(arg avoidance)" />

  <!-- person4 -->
  <node pkg="drone_gazebo" type="field_motion.py" name="motion4" args="'person_walking4' '[(-8.5, -8.20), (-12.7, -8.2), (-12.7, -2.7), (-10.4, -2.5), (-10.4, 2.17), (-10.4, -2.5), (-8.4, -2.7), (-8.5, -8.20)]' $(arg avoidance)" />


 <!-- perso5 -->
  <node pkg="drone_gazebo" type="field_motion.py" name="motion5" args="'person_walking5' '[(-2.9, 3.4), (-3.02, -3.7), (-2.9, 3.4)]' $(arg avoidance)" />

  <!-- person6 -->
<node pkg="drone_gazebo" type="field_motion.py" name="motion6" args="'person_walking6' '[(4.9, 0.6), (-1.17, 0.63), (4.9, 0.6)]' $(arg avoidance)" />

  <!-- person7 -->
<node pkg="drone_gazebo" type="field_motion.py" name="motion7" args="'person_walking7' '[(-6.51, 5.83), (2.90, 5.85), (-6.51, 5.83)]' $(arg avoidance)" />

  <!-- person8 -->
<node pkg="drone_gazebo" type="field_motion.py" name="motion8" args="'person_walking8' '[(2.8, 11.15), (-7.3, 10.99), (2.8, 11.15)]' $(arg avoidance)" />

  <!-- person9 -->
<node pkg="drone_gazebo" type="field_motion.py" name="motion9" args="'person_walking9' '[(13.7, 15.2), (4.91, 15.4), (4.9, 2.5), (4.91, 15.4), (13.7, 15.2)]' $(arg avoidance)" />

  <!-- person10 -->
<node pkg="drone_gazebo" type="field_motion.py" name="motion10" args="'person_walking10' '[(6.4, 13.2), (13.7, 13.2), (6.4, 13.2)]' $(arg avoidance)" />

  <!-- person11 -->
<node pkg="drone_gazebo" type="field_motion.py" name="motion11" args="'person_walking11' '[(7.07, 3.68), (7.07, -10.8), (7.07, 3.68)]' $(arg avoidance)" />

  <!-- person12 -->
<node pkg="drone_gazebo" type="field_motion.py" name="motion12" args="'person_walking12' '[(13.63, 2.45), (13.46, -10.34), (13.63, 2.45)]' $(arg avoidance)" />

</launch>