<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="world_name" value="$(find drone_gazebo)/worlds/crosswalks_dynamic.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <!-- Moving objects tries to avoid humans-->
  <arg name="avoidance" default="false" />
  
  <!-- person1 -->
  <node pkg="drone_gazebo" type="field_motion.py" name="motion1" args="'person_walking1' '[(2.7, 6.5), (2.7, -6.5)]' $(arg avoidance)" />
  <node pkg="drone_gazebo" type="field_motion.py" name="motion2" args="'person_walking2' '[(0.7, -6.5), (0.7, 6.5)]' $(arg avoidance)" />
  <node pkg="drone_gazebo" type="field_motion.py" name="motion3" args="'person_walking3' '[(-1.7, 6.5), (-1.7, -6.5)]' $(arg avoidance)" />
  <node pkg="drone_gazebo" type="field_motion.py" name="motion4" args="'person_walking4' '[(-3.7, -6.5), (-3.7, 6.5)]' $(arg avoidance)" />

</launch>