<launch>
   <param name="/use_sim_time" type="bool" value="true"/>
   
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find drone_gazebo)/worlds/cafe_dynamic.world"/>
    <!-- more default parameters can be changed here -->
    <arg name="gui" value="true"/>
  </include>

  <!-- Moving objects tries to avoid humans-->
  <arg name="avoidance" default="false" />

  <!-- person1 -->
  <node pkg="drone_gazebo" type="field_motion.py" name="motion1" args="'person_walking1' '[(-3, 0.2), (2.85, 0.2), (3.2, 9.2), (2.85, 0.2), (0, 0)]' $(arg avoidance)"/>

    <!-- person2 -->
  <node pkg="drone_gazebo" type="field_motion.py" name="motion2" args="'person_walking2' '[(0.5, -3.7), (0.5, -7.5), (-3.5, -7.5), (0.5, -7.5), (0.5, -3.7), (-3, -3.3)]' $(arg avoidance)" />


</launch>
